[Unit]
Description = DAP
After= rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/html/DataAnalysisProc
ExecStart=/usr/bin/python /var/www/html/DataAnalysisProc/DAP.py
Restart=always

[Install]
WantedBy=multi-user.target
