[Unit]
Description = PicProc
After= rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/html/PicProc
ExecStart=/usr/bin/python /var/www/html/PicProc/PictureProcessAccr.py
Restart=always

[Install]
WantedBy=multi-user.target
